@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

/* Navbar.css */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation: slide-down 0.3s ease-out forwards;
}